footer.admin-footer {
  padding: 15px;
  //margin-left: 230px;
  overflow: hidden;
  border-top: 1px solid lightgray;
  div.admin-copyright {
    float: left;
  }
  div.admin-version {
    float: right;
  }
}

@include mob {
  footer.admin-footer {
    padding: 10px;
    font-size: 12px;
    div.admin-copyright {
      strong {
        display: block;
      }
    }
  }
}
