// 버튼 공통 상속 속성
@mixin common-props {
  display: inline-block;
  color: #fff;
}

header.admin-header {
  margin: 0;
  padding: 0;
  background: #f3848c;
  overflow: hidden;
  h1 {
    margin: 0;
    padding: 0;
    float: left;
    line-height: 62px;
    height: 62px;
    a img {
      vertical-align: bottom;
    }
  }
  .btn_snb {
    @include common-props;
    float: left;
    padding: 0 20px;
    margin-left: 10px;
    font-size: 20px;
    line-height: 62px;
    height: 62px;
    &:hover {
      background: #d37175;
    }
  }
  .btn_admin {
    @include common-props;
    float: right;
    padding: 0 5px;
    margin-top: 18px;
    margin-right: 10px;
    font-size: 18px;
    span {
      display: inline-block;
      font-size: 16px;
      margin-left: 5px;
      vertical-align: top;
      font-weight: bold;
    }
  }
}

// 모바일 해상도 대응 768 이하
@include mob {
  header.admin-header {
    position: relative;
    h1 {
      float: none;
      text-align: center;
      a {
        display: inline-block;
        overflow: hidden;
        width: 50px;
      }
    }
    .btn_snb {
      position: absolute;
      margin-left: 0;
      left: 0;
      top: 0;
      float: none;
    }
    .btn_admin {
      position: absolute;
      margin: 0;
      padding: 16px 20px;
      background: transparent;
      border: 0;
      right: 0;
      top: 0;
      font-size: 20px;
      float: none;
      span {
        display: none;
      }
      i {
        margin-right: 0;
      }
      &:hover {
        background: #d37175;
      }
    }
  }
}
