// breadcrumb
.breadcrumbs {
  .breadcrumb {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    .breadcrumb-item {
      & + .breadcrumb-item::before {
        content: "〉";
        font-weight: 900;
      }
    }
  }
}

// selectbox
.selectboxs-wrap,
.selectboxsMulti-wrap {
  min-width: 140px;
  .selectboxs {
    > div {
      border-radius: 0.25rem;
      min-height: 33px;
    }
    > span + div {
      border-color: #ccc;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    div[aria-hidden] {
      padding: 0.4115rem 8px;
    }
  }
}
.selectboxsMulti-wrap {
  min-width: 220px;
  .badge {
    margin-left: 5px;
  }
}

// boards searchutils
.boards-list-utils {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  & > .selectboxs-wrap {
    .selectboxs {
      > div {
        border-radius: 0.25rem;
      }
    }
  }
}

// 게시판 search-utils
.search-utils {
  width: 385px;
  margin-left: 5px;
  display: flex;
  justify-content: flex-end;
  .input-group {
    .selectboxs-wrap {
      width: 100px;
    }
    .search-text {
      border-radius: 0.25rem 0 0 0.25rem;
      margin-left: 5px;
    }
  }
}

// 게시판 button 유틸리티
.btn-groups {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem;
  &.pages {
    background: #e9ecef;
    border-radius: 0.25rem;
  }
  &.modals {
    justify-content: flex-end;
  }
  &.list {
    .pagination {
      margin-bottom: 0;
    }
  }
  & > div > .btn {
    margin-right: 5px;
  }
  .btn {
    i {
      font-size: 0.5rem;
    }
    span {
      font-weight: 700;
    }
  }
}

.btn-pink {
  color: #fff;
  background-color: #f3848c;
  border-color: #f3848c;
  &:hover {
    color: #fff;
    background-color: #d37175;
    border-color: #d37175;
  }
}
.btn {
  > i {
    margin-right: 5px;
  }
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

// 게시판 list 테이블
.table-defaults {
  &.tables-ver {
    min-width: 720px;
  }

  tbody {
    th {
      width: 10%;
      span {
        word-break: keep-all;
      }
    }
    td {
      position: relative;
      span {
        word-break: keep-all;
        .badge {
          margin-right: 5px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      &.table-ellipsis {
        width: 40%;
        > span {
          position: absolute;
          display: block;
          width: calc(100% - 24px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
.table-responsive {
  > .table-defaults {
    margin-bottom: 0;
  }
}

// ColorPicker
.color-pickers {
  position: relative;
  display: flex;
  justify-content: flex-start;
  .color-swatch {
    padding: 2px;
    background: #fff;
    border: 1px solid #ccc;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-right: 0;
    display: inline-block;
    cursor: pointer;
    > div {
      width: 28px;
      height: 27px;
      border-radius: 0.25rem;
    }
    + input {
      &[type="text"] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &[readonly] {
        background: #fff;
      }
    }
  }
  .color-popover {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    .color-cover {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

// Drag&Drop list
.drag-lists {
  background: #e9ecef;
  border-radius: 0.25rem;
  padding: 0.25rem;
  .drag-items {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background: #fff;
    user-select: none;
    padding: 16px;
    p {
      margin-bottom: 0;
      span.title {
        font-size: 16px;
      }
      .badge {
        margin-left: 5px;
      }
      i {
        display: inline-block;
        padding: 5px;
        margin-right: 10px;
        background: #e9ecef;
        border: 1px solid #ccc;
        font-size: 12px;
        &:hover {
          background: #ccc;
          cursor: move;
        }
      }
    }
    .btn-group > * {
      margin-left: 5px;
    }
    &.dragging {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
  }
}
