.#{$ico-font-prefix}-home:before {
  content: ico-content($ico-var-home);
}
.#{$ico-font-prefix}-home2:before {
  content: ico-content($ico-var-home2);
}
.#{$ico-font-prefix}-home3:before {
  content: ico-content($ico-var-home3);
}
.#{$ico-font-prefix}-office:before {
  content: ico-content($ico-var-office);
}
.#{$ico-font-prefix}-newspaper:before {
  content: ico-content($ico-var-newspaper);
}
.#{$ico-font-prefix}-pencil:before {
  content: ico-content($ico-var-pencil);
}
.#{$ico-font-prefix}-pencil2:before {
  content: ico-content($ico-var-pencil2);
}
.#{$ico-font-prefix}-quill:before {
  content: ico-content($ico-var-quill);
}
.#{$ico-font-prefix}-pen:before {
  content: ico-content($ico-var-pen);
}
.#{$ico-font-prefix}-blog:before {
  content: ico-content($ico-var-blog);
}
.#{$ico-font-prefix}-eyedropper:before {
  content: ico-content($ico-var-eyedropper);
}
.#{$ico-font-prefix}-droplet:before {
  content: ico-content($ico-var-droplet);
}
.#{$ico-font-prefix}-paint-format:before {
  content: ico-content($ico-var-paint-format);
}
.#{$ico-font-prefix}-image:before {
  content: ico-content($ico-var-image);
}
.#{$ico-font-prefix}-images:before {
  content: ico-content($ico-var-images);
}
.#{$ico-font-prefix}-camera:before {
  content: ico-content($ico-var-camera);
}
.#{$ico-font-prefix}-headphones:before {
  content: ico-content($ico-var-headphones);
}
.#{$ico-font-prefix}-music:before {
  content: ico-content($ico-var-music);
}
.#{$ico-font-prefix}-play:before {
  content: ico-content($ico-var-play);
}
.#{$ico-font-prefix}-film:before {
  content: ico-content($ico-var-film);
}
.#{$ico-font-prefix}-video-camera:before {
  content: ico-content($ico-var-video-camera);
}
.#{$ico-font-prefix}-dice:before {
  content: ico-content($ico-var-dice);
}
.#{$ico-font-prefix}-pacman:before {
  content: ico-content($ico-var-pacman);
}
.#{$ico-font-prefix}-spades:before {
  content: ico-content($ico-var-spades);
}
.#{$ico-font-prefix}-clubs:before {
  content: ico-content($ico-var-clubs);
}
.#{$ico-font-prefix}-diamonds:before {
  content: ico-content($ico-var-diamonds);
}
.#{$ico-font-prefix}-bullhorn:before {
  content: ico-content($ico-var-bullhorn);
}
.#{$ico-font-prefix}-connection:before {
  content: ico-content($ico-var-connection);
}
.#{$ico-font-prefix}-podcast:before {
  content: ico-content($ico-var-podcast);
}
.#{$ico-font-prefix}-feed:before {
  content: ico-content($ico-var-feed);
}
.#{$ico-font-prefix}-mic:before {
  content: ico-content($ico-var-mic);
}
.#{$ico-font-prefix}-book:before {
  content: ico-content($ico-var-book);
}
.#{$ico-font-prefix}-books:before {
  content: ico-content($ico-var-books);
}
.#{$ico-font-prefix}-library:before {
  content: ico-content($ico-var-library);
}
.#{$ico-font-prefix}-file-text:before {
  content: ico-content($ico-var-file-text);
}
.#{$ico-font-prefix}-profile:before {
  content: ico-content($ico-var-profile);
}
.#{$ico-font-prefix}-file-empty:before {
  content: ico-content($ico-var-file-empty);
}
.#{$ico-font-prefix}-files-empty:before {
  content: ico-content($ico-var-files-empty);
}
.#{$ico-font-prefix}-file-text2:before {
  content: ico-content($ico-var-file-text2);
}
.#{$ico-font-prefix}-file-picture:before {
  content: ico-content($ico-var-file-picture);
}
.#{$ico-font-prefix}-file-music:before {
  content: ico-content($ico-var-file-music);
}
.#{$ico-font-prefix}-file-play:before {
  content: ico-content($ico-var-file-play);
}
.#{$ico-font-prefix}-file-video:before {
  content: ico-content($ico-var-file-video);
}
.#{$ico-font-prefix}-file-zip:before {
  content: ico-content($ico-var-file-zip);
}
.#{$ico-font-prefix}-copy:before {
  content: ico-content($ico-var-copy);
}
.#{$ico-font-prefix}-paste:before {
  content: ico-content($ico-var-paste);
}
.#{$ico-font-prefix}-stack:before {
  content: ico-content($ico-var-stack);
}
.#{$ico-font-prefix}-folder:before {
  content: ico-content($ico-var-folder);
}
.#{$ico-font-prefix}-folder-open:before {
  content: ico-content($ico-var-folder-open);
}
.#{$ico-font-prefix}-folder-plus:before {
  content: ico-content($ico-var-folder-plus);
}
.#{$ico-font-prefix}-folder-minus:before {
  content: ico-content($ico-var-folder-minus);
}
.#{$ico-font-prefix}-folder-download:before {
  content: ico-content($ico-var-folder-download);
}
.#{$ico-font-prefix}-folder-upload:before {
  content: ico-content($ico-var-folder-upload);
}
.#{$ico-font-prefix}-price-tag:before {
  content: ico-content($ico-var-price-tag);
}
.#{$ico-font-prefix}-price-tags:before {
  content: ico-content($ico-var-price-tags);
}
.#{$ico-font-prefix}-barcode:before {
  content: ico-content($ico-var-barcode);
}
.#{$ico-font-prefix}-qrcode:before {
  content: ico-content($ico-var-qrcode);
}
.#{$ico-font-prefix}-ticket:before {
  content: ico-content($ico-var-ticket);
}
.#{$ico-font-prefix}-cart:before {
  content: ico-content($ico-var-cart);
}
.#{$ico-font-prefix}-coin-dollar:before {
  content: ico-content($ico-var-coin-dollar);
}
.#{$ico-font-prefix}-coin-euro:before {
  content: ico-content($ico-var-coin-euro);
}
.#{$ico-font-prefix}-coin-pound:before {
  content: ico-content($ico-var-coin-pound);
}
.#{$ico-font-prefix}-coin-yen:before {
  content: ico-content($ico-var-coin-yen);
}
.#{$ico-font-prefix}-credit-card:before {
  content: ico-content($ico-var-credit-card);
}
.#{$ico-font-prefix}-calculator:before {
  content: ico-content($ico-var-calculator);
}
.#{$ico-font-prefix}-lifebuoy:before {
  content: ico-content($ico-var-lifebuoy);
}
.#{$ico-font-prefix}-phone:before {
  content: ico-content($ico-var-phone);
}
.#{$ico-font-prefix}-phone-hang-up:before {
  content: ico-content($ico-var-phone-hang-up);
}
.#{$ico-font-prefix}-address-book:before {
  content: ico-content($ico-var-address-book);
}
.#{$ico-font-prefix}-envelop:before {
  content: ico-content($ico-var-envelop);
}
.#{$ico-font-prefix}-pushpin:before {
  content: ico-content($ico-var-pushpin);
}
.#{$ico-font-prefix}-location:before {
  content: ico-content($ico-var-location);
}
.#{$ico-font-prefix}-location2:before {
  content: ico-content($ico-var-location2);
}
.#{$ico-font-prefix}-compass:before {
  content: ico-content($ico-var-compass);
}
.#{$ico-font-prefix}-compass2:before {
  content: ico-content($ico-var-compass2);
}
.#{$ico-font-prefix}-map:before {
  content: ico-content($ico-var-map);
}
.#{$ico-font-prefix}-map2:before {
  content: ico-content($ico-var-map2);
}
.#{$ico-font-prefix}-history:before {
  content: ico-content($ico-var-history);
}
.#{$ico-font-prefix}-clock:before {
  content: ico-content($ico-var-clock);
}
.#{$ico-font-prefix}-clock2:before {
  content: ico-content($ico-var-clock2);
}
.#{$ico-font-prefix}-alarm:before {
  content: ico-content($ico-var-alarm);
}
.#{$ico-font-prefix}-bell:before {
  content: ico-content($ico-var-bell);
}
.#{$ico-font-prefix}-stopwatch:before {
  content: ico-content($ico-var-stopwatch);
}
.#{$ico-font-prefix}-calendar:before {
  content: ico-content($ico-var-calendar);
}
.#{$ico-font-prefix}-printer:before {
  content: ico-content($ico-var-printer);
}
.#{$ico-font-prefix}-keyboard:before {
  content: ico-content($ico-var-keyboard);
}
.#{$ico-font-prefix}-display:before {
  content: ico-content($ico-var-display);
}
.#{$ico-font-prefix}-laptop:before {
  content: ico-content($ico-var-laptop);
}
.#{$ico-font-prefix}-mobile:before {
  content: ico-content($ico-var-mobile);
}
.#{$ico-font-prefix}-mobile2:before {
  content: ico-content($ico-var-mobile2);
}
.#{$ico-font-prefix}-tablet:before {
  content: ico-content($ico-var-tablet);
}
.#{$ico-font-prefix}-tv:before {
  content: ico-content($ico-var-tv);
}
.#{$ico-font-prefix}-drawer:before {
  content: ico-content($ico-var-drawer);
}
.#{$ico-font-prefix}-drawer2:before {
  content: ico-content($ico-var-drawer2);
}
.#{$ico-font-prefix}-box-add:before {
  content: ico-content($ico-var-box-add);
}
.#{$ico-font-prefix}-box-remove:before {
  content: ico-content($ico-var-box-remove);
}
.#{$ico-font-prefix}-download:before {
  content: ico-content($ico-var-download);
}
.#{$ico-font-prefix}-upload:before {
  content: ico-content($ico-var-upload);
}
.#{$ico-font-prefix}-floppy-disk:before {
  content: ico-content($ico-var-floppy-disk);
}
.#{$ico-font-prefix}-drive:before {
  content: ico-content($ico-var-drive);
}
.#{$ico-font-prefix}-database:before {
  content: ico-content($ico-var-database);
}
.#{$ico-font-prefix}-undo:before {
  content: ico-content($ico-var-undo);
}
.#{$ico-font-prefix}-redo:before {
  content: ico-content($ico-var-redo);
}
.#{$ico-font-prefix}-undo2:before {
  content: ico-content($ico-var-undo2);
}
.#{$ico-font-prefix}-redo2:before {
  content: ico-content($ico-var-redo2);
}
.#{$ico-font-prefix}-forward:before {
  content: ico-content($ico-var-forward);
}
.#{$ico-font-prefix}-reply:before {
  content: ico-content($ico-var-reply);
}
.#{$ico-font-prefix}-bubble:before {
  content: ico-content($ico-var-bubble);
}
.#{$ico-font-prefix}-bubbles:before {
  content: ico-content($ico-var-bubbles);
}
.#{$ico-font-prefix}-bubbles2:before {
  content: ico-content($ico-var-bubbles2);
}
.#{$ico-font-prefix}-bubble2:before {
  content: ico-content($ico-var-bubble2);
}
.#{$ico-font-prefix}-bubbles3:before {
  content: ico-content($ico-var-bubbles3);
}
.#{$ico-font-prefix}-bubbles4:before {
  content: ico-content($ico-var-bubbles4);
}
.#{$ico-font-prefix}-user:before {
  content: ico-content($ico-var-user);
}
.#{$ico-font-prefix}-users:before {
  content: ico-content($ico-var-users);
}
.#{$ico-font-prefix}-user-plus:before {
  content: ico-content($ico-var-user-plus);
}
.#{$ico-font-prefix}-user-minus:before {
  content: ico-content($ico-var-user-minus);
}
.#{$ico-font-prefix}-user-check:before {
  content: ico-content($ico-var-user-check);
}
.#{$ico-font-prefix}-user-tie:before {
  content: ico-content($ico-var-user-tie);
}
.#{$ico-font-prefix}-quotes-left:before {
  content: ico-content($ico-var-quotes-left);
}
.#{$ico-font-prefix}-quotes-right:before {
  content: ico-content($ico-var-quotes-right);
}
.#{$ico-font-prefix}-hour-glass:before {
  content: ico-content($ico-var-hour-glass);
}
.#{$ico-font-prefix}-spinner:before {
  content: ico-content($ico-var-spinner);
}
.#{$ico-font-prefix}-spinner2:before {
  content: ico-content($ico-var-spinner2);
}
.#{$ico-font-prefix}-spinner3:before {
  content: ico-content($ico-var-spinner3);
}
.#{$ico-font-prefix}-spinner4:before {
  content: ico-content($ico-var-spinner4);
}
.#{$ico-font-prefix}-spinner5:before {
  content: ico-content($ico-var-spinner5);
}
.#{$ico-font-prefix}-spinner6:before {
  content: ico-content($ico-var-spinner6);
}
.#{$ico-font-prefix}-spinner7:before {
  content: ico-content($ico-var-spinner7);
}
.#{$ico-font-prefix}-spinner8:before {
  content: ico-content($ico-var-spinner8);
}
.#{$ico-font-prefix}-spinner9:before {
  content: ico-content($ico-var-spinner9);
}
.#{$ico-font-prefix}-spinner10:before {
  content: ico-content($ico-var-spinner10);
}
.#{$ico-font-prefix}-spinner11:before {
  content: ico-content($ico-var-spinner11);
}
.#{$ico-font-prefix}-binoculars:before {
  content: ico-content($ico-var-binoculars);
}
.#{$ico-font-prefix}-search:before {
  content: ico-content($ico-var-search);
}
.#{$ico-font-prefix}-zoom-in:before {
  content: ico-content($ico-var-zoom-in);
}
.#{$ico-font-prefix}-zoom-out:before {
  content: ico-content($ico-var-zoom-out);
}
.#{$ico-font-prefix}-enlarge:before {
  content: ico-content($ico-var-enlarge);
}
.#{$ico-font-prefix}-shrink:before {
  content: ico-content($ico-var-shrink);
}
.#{$ico-font-prefix}-enlarge2:before {
  content: ico-content($ico-var-enlarge2);
}
.#{$ico-font-prefix}-shrink2:before {
  content: ico-content($ico-var-shrink2);
}
.#{$ico-font-prefix}-key:before {
  content: ico-content($ico-var-key);
}
.#{$ico-font-prefix}-key2:before {
  content: ico-content($ico-var-key2);
}
.#{$ico-font-prefix}-lock:before {
  content: ico-content($ico-var-lock);
}
.#{$ico-font-prefix}-unlocked:before {
  content: ico-content($ico-var-unlocked);
}
.#{$ico-font-prefix}-wrench:before {
  content: ico-content($ico-var-wrench);
}
.#{$ico-font-prefix}-equalizer:before {
  content: ico-content($ico-var-equalizer);
}
.#{$ico-font-prefix}-equalizer2:before {
  content: ico-content($ico-var-equalizer2);
}
.#{$ico-font-prefix}-cog:before {
  content: ico-content($ico-var-cog);
}
.#{$ico-font-prefix}-cogs:before {
  content: ico-content($ico-var-cogs);
}
.#{$ico-font-prefix}-hammer:before {
  content: ico-content($ico-var-hammer);
}
.#{$ico-font-prefix}-magic-wand:before {
  content: ico-content($ico-var-magic-wand);
}
.#{$ico-font-prefix}-aid-kit:before {
  content: ico-content($ico-var-aid-kit);
}
.#{$ico-font-prefix}-bug:before {
  content: ico-content($ico-var-bug);
}
.#{$ico-font-prefix}-pie-chart:before {
  content: ico-content($ico-var-pie-chart);
}
.#{$ico-font-prefix}-stats-dots:before {
  content: ico-content($ico-var-stats-dots);
}
.#{$ico-font-prefix}-stats-bars:before {
  content: ico-content($ico-var-stats-bars);
}
.#{$ico-font-prefix}-stats-bars2:before {
  content: ico-content($ico-var-stats-bars2);
}
.#{$ico-font-prefix}-trophy:before {
  content: ico-content($ico-var-trophy);
}
.#{$ico-font-prefix}-gift:before {
  content: ico-content($ico-var-gift);
}
.#{$ico-font-prefix}-glass:before {
  content: ico-content($ico-var-glass);
}
.#{$ico-font-prefix}-glass2:before {
  content: ico-content($ico-var-glass2);
}
.#{$ico-font-prefix}-mug:before {
  content: ico-content($ico-var-mug);
}
.#{$ico-font-prefix}-spoon-knife:before {
  content: ico-content($ico-var-spoon-knife);
}
.#{$ico-font-prefix}-leaf:before {
  content: ico-content($ico-var-leaf);
}
.#{$ico-font-prefix}-rocket:before {
  content: ico-content($ico-var-rocket);
}
.#{$ico-font-prefix}-meter:before {
  content: ico-content($ico-var-meter);
}
.#{$ico-font-prefix}-meter2:before {
  content: ico-content($ico-var-meter2);
}
.#{$ico-font-prefix}-hammer2:before {
  content: ico-content($ico-var-hammer2);
}
.#{$ico-font-prefix}-fire:before {
  content: ico-content($ico-var-fire);
}
.#{$ico-font-prefix}-lab:before {
  content: ico-content($ico-var-lab);
}
.#{$ico-font-prefix}-magnet:before {
  content: ico-content($ico-var-magnet);
}
.#{$ico-font-prefix}-bin:before {
  content: ico-content($ico-var-bin);
}
.#{$ico-font-prefix}-bin2:before {
  content: ico-content($ico-var-bin2);
}
.#{$ico-font-prefix}-briefcase:before {
  content: ico-content($ico-var-briefcase);
}
.#{$ico-font-prefix}-airplane:before {
  content: ico-content($ico-var-airplane);
}
.#{$ico-font-prefix}-truck:before {
  content: ico-content($ico-var-truck);
}
.#{$ico-font-prefix}-road:before {
  content: ico-content($ico-var-road);
}
.#{$ico-font-prefix}-accessibility:before {
  content: ico-content($ico-var-accessibility);
}
.#{$ico-font-prefix}-target:before {
  content: ico-content($ico-var-target);
}
.#{$ico-font-prefix}-shield:before {
  content: ico-content($ico-var-shield);
}
.#{$ico-font-prefix}-power:before {
  content: ico-content($ico-var-power);
}
.#{$ico-font-prefix}-switch:before {
  content: ico-content($ico-var-switch);
}
.#{$ico-font-prefix}-power-cord:before {
  content: ico-content($ico-var-power-cord);
}
.#{$ico-font-prefix}-clipboard:before {
  content: ico-content($ico-var-clipboard);
}
.#{$ico-font-prefix}-list-numbered:before {
  content: ico-content($ico-var-list-numbered);
}
.#{$ico-font-prefix}-list:before {
  content: ico-content($ico-var-list);
}
.#{$ico-font-prefix}-list2:before {
  content: ico-content($ico-var-list2);
}
.#{$ico-font-prefix}-tree:before {
  content: ico-content($ico-var-tree);
}
.#{$ico-font-prefix}-menu:before {
  content: ico-content($ico-var-menu);
}
.#{$ico-font-prefix}-menu2:before {
  content: ico-content($ico-var-menu2);
}
.#{$ico-font-prefix}-menu3:before {
  content: ico-content($ico-var-menu3);
}
.#{$ico-font-prefix}-menu4:before {
  content: ico-content($ico-var-menu4);
}
.#{$ico-font-prefix}-cloud:before {
  content: ico-content($ico-var-cloud);
}
.#{$ico-font-prefix}-cloud-download:before {
  content: ico-content($ico-var-cloud-download);
}
.#{$ico-font-prefix}-cloud-upload:before {
  content: ico-content($ico-var-cloud-upload);
}
.#{$ico-font-prefix}-cloud-check:before {
  content: ico-content($ico-var-cloud-check);
}
.#{$ico-font-prefix}-download2:before {
  content: ico-content($ico-var-download2);
}
.#{$ico-font-prefix}-upload2:before {
  content: ico-content($ico-var-upload2);
}
.#{$ico-font-prefix}-download3:before {
  content: ico-content($ico-var-download3);
}
.#{$ico-font-prefix}-upload3:before {
  content: ico-content($ico-var-upload3);
}
.#{$ico-font-prefix}-sphere:before {
  content: ico-content($ico-var-sphere);
}
.#{$ico-font-prefix}-earth:before {
  content: ico-content($ico-var-earth);
}
.#{$ico-font-prefix}-link:before {
  content: ico-content($ico-var-link);
}
.#{$ico-font-prefix}-flag:before {
  content: ico-content($ico-var-flag);
}
.#{$ico-font-prefix}-attachment:before {
  content: ico-content($ico-var-attachment);
}
.#{$ico-font-prefix}-eye:before {
  content: ico-content($ico-var-eye);
}
.#{$ico-font-prefix}-eye-plus:before {
  content: ico-content($ico-var-eye-plus);
}
.#{$ico-font-prefix}-eye-minus:before {
  content: ico-content($ico-var-eye-minus);
}
.#{$ico-font-prefix}-eye-blocked:before {
  content: ico-content($ico-var-eye-blocked);
}
.#{$ico-font-prefix}-bookmark:before {
  content: ico-content($ico-var-bookmark);
}
.#{$ico-font-prefix}-bookmarks:before {
  content: ico-content($ico-var-bookmarks);
}
.#{$ico-font-prefix}-sun:before {
  content: ico-content($ico-var-sun);
}
.#{$ico-font-prefix}-contrast:before {
  content: ico-content($ico-var-contrast);
}
.#{$ico-font-prefix}-brightness-contrast:before {
  content: ico-content($ico-var-brightness-contrast);
}
.#{$ico-font-prefix}-star-empty:before {
  content: ico-content($ico-var-star-empty);
}
.#{$ico-font-prefix}-star-half:before {
  content: ico-content($ico-var-star-half);
}
.#{$ico-font-prefix}-star-full:before {
  content: ico-content($ico-var-star-full);
}
.#{$ico-font-prefix}-heart:before {
  content: ico-content($ico-var-heart);
}
.#{$ico-font-prefix}-heart-broken:before {
  content: ico-content($ico-var-heart-broken);
}
.#{$ico-font-prefix}-man:before {
  content: ico-content($ico-var-man);
}
.#{$ico-font-prefix}-woman:before {
  content: ico-content($ico-var-woman);
}
.#{$ico-font-prefix}-man-woman:before {
  content: ico-content($ico-var-man-woman);
}
.#{$ico-font-prefix}-happy:before {
  content: ico-content($ico-var-happy);
}
.#{$ico-font-prefix}-happy2:before {
  content: ico-content($ico-var-happy2);
}
.#{$ico-font-prefix}-smile:before {
  content: ico-content($ico-var-smile);
}
.#{$ico-font-prefix}-smile2:before {
  content: ico-content($ico-var-smile2);
}
.#{$ico-font-prefix}-tongue:before {
  content: ico-content($ico-var-tongue);
}
.#{$ico-font-prefix}-tongue2:before {
  content: ico-content($ico-var-tongue2);
}
.#{$ico-font-prefix}-sad:before {
  content: ico-content($ico-var-sad);
}
.#{$ico-font-prefix}-sad2:before {
  content: ico-content($ico-var-sad2);
}
.#{$ico-font-prefix}-wink:before {
  content: ico-content($ico-var-wink);
}
.#{$ico-font-prefix}-wink2:before {
  content: ico-content($ico-var-wink2);
}
.#{$ico-font-prefix}-grin:before {
  content: ico-content($ico-var-grin);
}
.#{$ico-font-prefix}-grin2:before {
  content: ico-content($ico-var-grin2);
}
.#{$ico-font-prefix}-cool:before {
  content: ico-content($ico-var-cool);
}
.#{$ico-font-prefix}-cool2:before {
  content: ico-content($ico-var-cool2);
}
.#{$ico-font-prefix}-angry:before {
  content: ico-content($ico-var-angry);
}
.#{$ico-font-prefix}-angry2:before {
  content: ico-content($ico-var-angry2);
}
.#{$ico-font-prefix}-evil:before {
  content: ico-content($ico-var-evil);
}
.#{$ico-font-prefix}-evil2:before {
  content: ico-content($ico-var-evil2);
}
.#{$ico-font-prefix}-shocked:before {
  content: ico-content($ico-var-shocked);
}
.#{$ico-font-prefix}-shocked2:before {
  content: ico-content($ico-var-shocked2);
}
.#{$ico-font-prefix}-baffled:before {
  content: ico-content($ico-var-baffled);
}
.#{$ico-font-prefix}-baffled2:before {
  content: ico-content($ico-var-baffled2);
}
.#{$ico-font-prefix}-confused:before {
  content: ico-content($ico-var-confused);
}
.#{$ico-font-prefix}-confused2:before {
  content: ico-content($ico-var-confused2);
}
.#{$ico-font-prefix}-neutral:before {
  content: ico-content($ico-var-neutral);
}
.#{$ico-font-prefix}-neutral2:before {
  content: ico-content($ico-var-neutral2);
}
.#{$ico-font-prefix}-hipster:before {
  content: ico-content($ico-var-hipster);
}
.#{$ico-font-prefix}-hipster2:before {
  content: ico-content($ico-var-hipster2);
}
.#{$ico-font-prefix}-wondering:before {
  content: ico-content($ico-var-wondering);
}
.#{$ico-font-prefix}-wondering2:before {
  content: ico-content($ico-var-wondering2);
}
.#{$ico-font-prefix}-sleepy:before {
  content: ico-content($ico-var-sleepy);
}
.#{$ico-font-prefix}-sleepy2:before {
  content: ico-content($ico-var-sleepy2);
}
.#{$ico-font-prefix}-frustrated:before {
  content: ico-content($ico-var-frustrated);
}
.#{$ico-font-prefix}-frustrated2:before {
  content: ico-content($ico-var-frustrated2);
}
.#{$ico-font-prefix}-crying:before {
  content: ico-content($ico-var-crying);
}
.#{$ico-font-prefix}-crying2:before {
  content: ico-content($ico-var-crying2);
}
.#{$ico-font-prefix}-point-up:before {
  content: ico-content($ico-var-point-up);
}
.#{$ico-font-prefix}-point-right:before {
  content: ico-content($ico-var-point-right);
}
.#{$ico-font-prefix}-point-down:before {
  content: ico-content($ico-var-point-down);
}
.#{$ico-font-prefix}-point-left:before {
  content: ico-content($ico-var-point-left);
}
.#{$ico-font-prefix}-warning:before {
  content: ico-content($ico-var-warning);
}
.#{$ico-font-prefix}-notification:before {
  content: ico-content($ico-var-notification);
}
.#{$ico-font-prefix}-question:before {
  content: ico-content($ico-var-question);
}
.#{$ico-font-prefix}-plus:before {
  content: ico-content($ico-var-plus);
}
.#{$ico-font-prefix}-minus:before {
  content: ico-content($ico-var-minus);
}
.#{$ico-font-prefix}-info:before {
  content: ico-content($ico-var-info);
}
.#{$ico-font-prefix}-cancel-circle:before {
  content: ico-content($ico-var-cancel-circle);
}
.#{$ico-font-prefix}-blocked:before {
  content: ico-content($ico-var-blocked);
}
.#{$ico-font-prefix}-cross:before {
  content: ico-content($ico-var-cross);
}
.#{$ico-font-prefix}-checkmark:before {
  content: ico-content($ico-var-checkmark);
}
.#{$ico-font-prefix}-checkmark2:before {
  content: ico-content($ico-var-checkmark2);
}
.#{$ico-font-prefix}-spell-check:before {
  content: ico-content($ico-var-spell-check);
}
.#{$ico-font-prefix}-enter:before {
  content: ico-content($ico-var-enter);
}
.#{$ico-font-prefix}-exit:before {
  content: ico-content($ico-var-exit);
}
.#{$ico-font-prefix}-play2:before {
  content: ico-content($ico-var-play2);
}
.#{$ico-font-prefix}-pause:before {
  content: ico-content($ico-var-pause);
}
.#{$ico-font-prefix}-stop:before {
  content: ico-content($ico-var-stop);
}
.#{$ico-font-prefix}-previous:before {
  content: ico-content($ico-var-previous);
}
.#{$ico-font-prefix}-next:before {
  content: ico-content($ico-var-next);
}
.#{$ico-font-prefix}-backward:before {
  content: ico-content($ico-var-backward);
}
.#{$ico-font-prefix}-forward2:before {
  content: ico-content($ico-var-forward2);
}
.#{$ico-font-prefix}-play3:before {
  content: ico-content($ico-var-play3);
}
.#{$ico-font-prefix}-pause2:before {
  content: ico-content($ico-var-pause2);
}
.#{$ico-font-prefix}-stop2:before {
  content: ico-content($ico-var-stop2);
}
.#{$ico-font-prefix}-backward2:before {
  content: ico-content($ico-var-backward2);
}
.#{$ico-font-prefix}-forward3:before {
  content: ico-content($ico-var-forward3);
}
.#{$ico-font-prefix}-first:before {
  content: ico-content($ico-var-first);
}
.#{$ico-font-prefix}-last:before {
  content: ico-content($ico-var-last);
}
.#{$ico-font-prefix}-previous2:before {
  content: ico-content($ico-var-previous2);
}
.#{$ico-font-prefix}-next2:before {
  content: ico-content($ico-var-next2);
}
.#{$ico-font-prefix}-eject:before {
  content: ico-content($ico-var-eject);
}
.#{$ico-font-prefix}-volume-high:before {
  content: ico-content($ico-var-volume-high);
}
.#{$ico-font-prefix}-volume-medium:before {
  content: ico-content($ico-var-volume-medium);
}
.#{$ico-font-prefix}-volume-low:before {
  content: ico-content($ico-var-volume-low);
}
.#{$ico-font-prefix}-volume-mute:before {
  content: ico-content($ico-var-volume-mute);
}
.#{$ico-font-prefix}-volume-mute2:before {
  content: ico-content($ico-var-volume-mute2);
}
.#{$ico-font-prefix}-volume-increase:before {
  content: ico-content($ico-var-volume-increase);
}
.#{$ico-font-prefix}-volume-decrease:before {
  content: ico-content($ico-var-volume-decrease);
}
.#{$ico-font-prefix}-loop:before {
  content: ico-content($ico-var-loop);
}
.#{$ico-font-prefix}-loop2:before {
  content: ico-content($ico-var-loop2);
}
.#{$ico-font-prefix}-infinite:before {
  content: ico-content($ico-var-infinite);
}
.#{$ico-font-prefix}-shuffle:before {
  content: ico-content($ico-var-shuffle);
}
.#{$ico-font-prefix}-arrow-up-left:before {
  content: ico-content($ico-var-arrow-up-left);
}
.#{$ico-font-prefix}-arrow-up:before {
  content: ico-content($ico-var-arrow-up);
}
.#{$ico-font-prefix}-arrow-up-right:before {
  content: ico-content($ico-var-arrow-up-right);
}
.#{$ico-font-prefix}-arrow-right:before {
  content: ico-content($ico-var-arrow-right);
}
.#{$ico-font-prefix}-arrow-down-right:before {
  content: ico-content($ico-var-arrow-down-right);
}
.#{$ico-font-prefix}-arrow-down:before {
  content: ico-content($ico-var-arrow-down);
}
.#{$ico-font-prefix}-arrow-down-left:before {
  content: ico-content($ico-var-arrow-down-left);
}
.#{$ico-font-prefix}-arrow-left:before {
  content: ico-content($ico-var-arrow-left);
}
.#{$ico-font-prefix}-arrow-up-left2:before {
  content: ico-content($ico-var-arrow-up-left2);
}
.#{$ico-font-prefix}-arrow-up2:before {
  content: ico-content($ico-var-arrow-up2);
}
.#{$ico-font-prefix}-arrow-up-right2:before {
  content: ico-content($ico-var-arrow-up-right2);
}
.#{$ico-font-prefix}-arrow-right2:before {
  content: ico-content($ico-var-arrow-right2);
}
.#{$ico-font-prefix}-arrow-down-right2:before {
  content: ico-content($ico-var-arrow-down-right2);
}
.#{$ico-font-prefix}-arrow-down2:before {
  content: ico-content($ico-var-arrow-down2);
}
.#{$ico-font-prefix}-arrow-down-left2:before {
  content: ico-content($ico-var-arrow-down-left2);
}
.#{$ico-font-prefix}-arrow-left2:before {
  content: ico-content($ico-var-arrow-left2);
}
.#{$ico-font-prefix}-circle-up:before {
  content: ico-content($ico-var-circle-up);
}
.#{$ico-font-prefix}-circle-right:before {
  content: ico-content($ico-var-circle-right);
}
.#{$ico-font-prefix}-circle-down:before {
  content: ico-content($ico-var-circle-down);
}
.#{$ico-font-prefix}-circle-left:before {
  content: ico-content($ico-var-circle-left);
}
.#{$ico-font-prefix}-tab:before {
  content: ico-content($ico-var-tab);
}
.#{$ico-font-prefix}-move-up:before {
  content: ico-content($ico-var-move-up);
}
.#{$ico-font-prefix}-move-down:before {
  content: ico-content($ico-var-move-down);
}
.#{$ico-font-prefix}-sort-alpha-asc:before {
  content: ico-content($ico-var-sort-alpha-asc);
}
.#{$ico-font-prefix}-sort-alpha-desc:before {
  content: ico-content($ico-var-sort-alpha-desc);
}
.#{$ico-font-prefix}-sort-numeric-asc:before {
  content: ico-content($ico-var-sort-numeric-asc);
}
.#{$ico-font-prefix}-sort-numberic-desc:before {
  content: ico-content($ico-var-sort-numberic-desc);
}
.#{$ico-font-prefix}-sort-amount-asc:before {
  content: ico-content($ico-var-sort-amount-asc);
}
.#{$ico-font-prefix}-sort-amount-desc:before {
  content: ico-content($ico-var-sort-amount-desc);
}
.#{$ico-font-prefix}-command:before {
  content: ico-content($ico-var-command);
}
.#{$ico-font-prefix}-shift:before {
  content: ico-content($ico-var-shift);
}
.#{$ico-font-prefix}-ctrl:before {
  content: ico-content($ico-var-ctrl);
}
.#{$ico-font-prefix}-opt:before {
  content: ico-content($ico-var-opt);
}
.#{$ico-font-prefix}-checkbox-checked:before {
  content: ico-content($ico-var-checkbox-checked);
}
.#{$ico-font-prefix}-checkbox-unchecked:before {
  content: ico-content($ico-var-checkbox-unchecked);
}
.#{$ico-font-prefix}-radio-checked:before {
  content: ico-content($ico-var-radio-checked);
}
.#{$ico-font-prefix}-radio-checked2:before {
  content: ico-content($ico-var-radio-checked2);
}
.#{$ico-font-prefix}-radio-unchecked:before {
  content: ico-content($ico-var-radio-unchecked);
}
.#{$ico-font-prefix}-crop:before {
  content: ico-content($ico-var-crop);
}
.#{$ico-font-prefix}-make-group:before {
  content: ico-content($ico-var-make-group);
}
.#{$ico-font-prefix}-ungroup:before {
  content: ico-content($ico-var-ungroup);
}
.#{$ico-font-prefix}-scissors:before {
  content: ico-content($ico-var-scissors);
}
.#{$ico-font-prefix}-filter:before {
  content: ico-content($ico-var-filter);
}
.#{$ico-font-prefix}-font:before {
  content: ico-content($ico-var-font);
}
.#{$ico-font-prefix}-ligature:before {
  content: ico-content($ico-var-ligature);
}
.#{$ico-font-prefix}-ligature2:before {
  content: ico-content($ico-var-ligature2);
}
.#{$ico-font-prefix}-text-height:before {
  content: ico-content($ico-var-text-height);
}
.#{$ico-font-prefix}-text-width:before {
  content: ico-content($ico-var-text-width);
}
.#{$ico-font-prefix}-font-size:before {
  content: ico-content($ico-var-font-size);
}
.#{$ico-font-prefix}-bold:before {
  content: ico-content($ico-var-bold);
}
.#{$ico-font-prefix}-underline:before {
  content: ico-content($ico-var-underline);
}
.#{$ico-font-prefix}-italic:before {
  content: ico-content($ico-var-italic);
}
.#{$ico-font-prefix}-strikethrough:before {
  content: ico-content($ico-var-strikethrough);
}
.#{$ico-font-prefix}-omega:before {
  content: ico-content($ico-var-omega);
}
.#{$ico-font-prefix}-sigma:before {
  content: ico-content($ico-var-sigma);
}
.#{$ico-font-prefix}-page-break:before {
  content: ico-content($ico-var-page-break);
}
.#{$ico-font-prefix}-superscript:before {
  content: ico-content($ico-var-superscript);
}
.#{$ico-font-prefix}-subscript:before {
  content: ico-content($ico-var-subscript);
}
.#{$ico-font-prefix}-superscript2:before {
  content: ico-content($ico-var-superscript2);
}
.#{$ico-font-prefix}-subscript2:before {
  content: ico-content($ico-var-subscript2);
}
.#{$ico-font-prefix}-text-color:before {
  content: ico-content($ico-var-text-color);
}
.#{$ico-font-prefix}-pagebreak:before {
  content: ico-content($ico-var-pagebreak);
}
.#{$ico-font-prefix}-clear-formatting:before {
  content: ico-content($ico-var-clear-formatting);
}
.#{$ico-font-prefix}-table:before {
  content: ico-content($ico-var-table);
}
.#{$ico-font-prefix}-table2:before {
  content: ico-content($ico-var-table2);
}
.#{$ico-font-prefix}-insert-template:before {
  content: ico-content($ico-var-insert-template);
}
.#{$ico-font-prefix}-pilcrow:before {
  content: ico-content($ico-var-pilcrow);
}
.#{$ico-font-prefix}-ltr:before {
  content: ico-content($ico-var-ltr);
}
.#{$ico-font-prefix}-rtl:before {
  content: ico-content($ico-var-rtl);
}
.#{$ico-font-prefix}-section:before {
  content: ico-content($ico-var-section);
}
.#{$ico-font-prefix}-paragraph-left:before {
  content: ico-content($ico-var-paragraph-left);
}
.#{$ico-font-prefix}-paragraph-center:before {
  content: ico-content($ico-var-paragraph-center);
}
.#{$ico-font-prefix}-paragraph-right:before {
  content: ico-content($ico-var-paragraph-right);
}
.#{$ico-font-prefix}-paragraph-justify:before {
  content: ico-content($ico-var-paragraph-justify);
}
.#{$ico-font-prefix}-indent-increase:before {
  content: ico-content($ico-var-indent-increase);
}
.#{$ico-font-prefix}-indent-decrease:before {
  content: ico-content($ico-var-indent-decrease);
}
.#{$ico-font-prefix}-share:before {
  content: ico-content($ico-var-share);
}
.#{$ico-font-prefix}-new-tab:before {
  content: ico-content($ico-var-new-tab);
}
.#{$ico-font-prefix}-embed:before {
  content: ico-content($ico-var-embed);
}
.#{$ico-font-prefix}-embed2:before {
  content: ico-content($ico-var-embed2);
}
.#{$ico-font-prefix}-terminal:before {
  content: ico-content($ico-var-terminal);
}
.#{$ico-font-prefix}-share2:before {
  content: ico-content($ico-var-share2);
}
.#{$ico-font-prefix}-mail:before {
  content: ico-content($ico-var-mail);
}
.#{$ico-font-prefix}-mail2:before {
  content: ico-content($ico-var-mail2);
}
.#{$ico-font-prefix}-mail3:before {
  content: ico-content($ico-var-mail3);
}
.#{$ico-font-prefix}-mail4:before {
  content: ico-content($ico-var-mail4);
}
.#{$ico-font-prefix}-amazon:before {
  content: ico-content($ico-var-amazon);
}
.#{$ico-font-prefix}-google:before {
  content: ico-content($ico-var-google);
}
.#{$ico-font-prefix}-google2:before {
  content: ico-content($ico-var-google2);
}
.#{$ico-font-prefix}-google3:before {
  content: ico-content($ico-var-google3);
}
.#{$ico-font-prefix}-google-plus:before {
  content: ico-content($ico-var-google-plus);
}
.#{$ico-font-prefix}-google-plus2:before {
  content: ico-content($ico-var-google-plus2);
}
.#{$ico-font-prefix}-google-plus3:before {
  content: ico-content($ico-var-google-plus3);
}
.#{$ico-font-prefix}-hangouts:before {
  content: ico-content($ico-var-hangouts);
}
.#{$ico-font-prefix}-google-drive:before {
  content: ico-content($ico-var-google-drive);
}
.#{$ico-font-prefix}-facebook:before {
  content: ico-content($ico-var-facebook);
}
.#{$ico-font-prefix}-facebook2:before {
  content: ico-content($ico-var-facebook2);
}
.#{$ico-font-prefix}-instagram:before {
  content: ico-content($ico-var-instagram);
}
.#{$ico-font-prefix}-whatsapp:before {
  content: ico-content($ico-var-whatsapp);
}
.#{$ico-font-prefix}-spotify:before {
  content: ico-content($ico-var-spotify);
}
.#{$ico-font-prefix}-telegram:before {
  content: ico-content($ico-var-telegram);
}
.#{$ico-font-prefix}-twitter:before {
  content: ico-content($ico-var-twitter);
}
.#{$ico-font-prefix}-vine:before {
  content: ico-content($ico-var-vine);
}
.#{$ico-font-prefix}-vk:before {
  content: ico-content($ico-var-vk);
}
.#{$ico-font-prefix}-renren:before {
  content: ico-content($ico-var-renren);
}
.#{$ico-font-prefix}-sina-weibo:before {
  content: ico-content($ico-var-sina-weibo);
}
.#{$ico-font-prefix}-rss:before {
  content: ico-content($ico-var-rss);
}
.#{$ico-font-prefix}-rss2:before {
  content: ico-content($ico-var-rss2);
}
.#{$ico-font-prefix}-youtube:before {
  content: ico-content($ico-var-youtube);
}
.#{$ico-font-prefix}-youtube2:before {
  content: ico-content($ico-var-youtube2);
}
.#{$ico-font-prefix}-twitch:before {
  content: ico-content($ico-var-twitch);
}
.#{$ico-font-prefix}-vimeo:before {
  content: ico-content($ico-var-vimeo);
}
.#{$ico-font-prefix}-vimeo2:before {
  content: ico-content($ico-var-vimeo2);
}
.#{$ico-font-prefix}-lanyrd:before {
  content: ico-content($ico-var-lanyrd);
}
.#{$ico-font-prefix}-flickr:before {
  content: ico-content($ico-var-flickr);
}
.#{$ico-font-prefix}-flickr2:before {
  content: ico-content($ico-var-flickr2);
}
.#{$ico-font-prefix}-flickr3:before {
  content: ico-content($ico-var-flickr3);
}
.#{$ico-font-prefix}-flickr4:before {
  content: ico-content($ico-var-flickr4);
}
.#{$ico-font-prefix}-dribbble:before {
  content: ico-content($ico-var-dribbble);
}
.#{$ico-font-prefix}-behance:before {
  content: ico-content($ico-var-behance);
}
.#{$ico-font-prefix}-behance2:before {
  content: ico-content($ico-var-behance2);
}
.#{$ico-font-prefix}-deviantart:before {
  content: ico-content($ico-var-deviantart);
}
/* .#{$ico-font-prefix}-500px:before {
   content:ico-content($ico-var-500px);
}*/
.#{$ico-font-prefix}-steam:before {
  content: ico-content($ico-var-steam);
}
.#{$ico-font-prefix}-steam2:before {
  content: ico-content($ico-var-steam2);
}
.#{$ico-font-prefix}-dropbox:before {
  content: ico-content($ico-var-dropbox);
}
.#{$ico-font-prefix}-onedrive:before {
  content: ico-content($ico-var-onedrive);
}
.#{$ico-font-prefix}-github:before {
  content: ico-content($ico-var-github);
}
.#{$ico-font-prefix}-npm:before {
  content: ico-content($ico-var-npm);
}
.#{$ico-font-prefix}-basecamp:before {
  content: ico-content($ico-var-basecamp);
}
.#{$ico-font-prefix}-trello:before {
  content: ico-content($ico-var-trello);
}
.#{$ico-font-prefix}-wordpress:before {
  content: ico-content($ico-var-wordpress);
}
.#{$ico-font-prefix}-joomla:before {
  content: ico-content($ico-var-joomla);
}
.#{$ico-font-prefix}-ello:before {
  content: ico-content($ico-var-ello);
}
.#{$ico-font-prefix}-blogger:before {
  content: ico-content($ico-var-blogger);
}
.#{$ico-font-prefix}-blogger2:before {
  content: ico-content($ico-var-blogger2);
}
.#{$ico-font-prefix}-tumblr:before {
  content: ico-content($ico-var-tumblr);
}
.#{$ico-font-prefix}-tumblr2:before {
  content: ico-content($ico-var-tumblr2);
}
.#{$ico-font-prefix}-yahoo:before {
  content: ico-content($ico-var-yahoo);
}
.#{$ico-font-prefix}-yahoo2:before {
  content: ico-content($ico-var-yahoo2);
}
.#{$ico-font-prefix}-tux:before {
  content: ico-content($ico-var-tux);
}
.#{$ico-font-prefix}-appleinc:before {
  content: ico-content($ico-var-appleinc);
}
.#{$ico-font-prefix}-finder:before {
  content: ico-content($ico-var-finder);
}
.#{$ico-font-prefix}-android:before {
  content: ico-content($ico-var-android);
}
.#{$ico-font-prefix}-windows:before {
  content: ico-content($ico-var-windows);
}
.#{$ico-font-prefix}-windows8:before {
  content: ico-content($ico-var-windows8);
}
.#{$ico-font-prefix}-soundcloud:before {
  content: ico-content($ico-var-soundcloud);
}
.#{$ico-font-prefix}-soundcloud2:before {
  content: ico-content($ico-var-soundcloud2);
}
.#{$ico-font-prefix}-skype:before {
  content: ico-content($ico-var-skype);
}
.#{$ico-font-prefix}-reddit:before {
  content: ico-content($ico-var-reddit);
}
.#{$ico-font-prefix}-hackernews:before {
  content: ico-content($ico-var-hackernews);
}
.#{$ico-font-prefix}-wikipedia:before {
  content: ico-content($ico-var-wikipedia);
}
.#{$ico-font-prefix}-linkedin:before {
  content: ico-content($ico-var-linkedin);
}
.#{$ico-font-prefix}-linkedin2:before {
  content: ico-content($ico-var-linkedin2);
}
.#{$ico-font-prefix}-lastfm:before {
  content: ico-content($ico-var-lastfm);
}
.#{$ico-font-prefix}-lastfm2:before {
  content: ico-content($ico-var-lastfm2);
}
.#{$ico-font-prefix}-delicious:before {
  content: ico-content($ico-var-delicious);
}
.#{$ico-font-prefix}-stumbleupon:before {
  content: ico-content($ico-var-stumbleupon);
}
.#{$ico-font-prefix}-stumbleupon2:before {
  content: ico-content($ico-var-stumbleupon2);
}
.#{$ico-font-prefix}-stackoverflow:before {
  content: ico-content($ico-var-stackoverflow);
}
.#{$ico-font-prefix}-pinterest:before {
  content: ico-content($ico-var-pinterest);
}
.#{$ico-font-prefix}-pinterest2:before {
  content: ico-content($ico-var-pinterest2);
}
.#{$ico-font-prefix}-xing:before {
  content: ico-content($ico-var-xing);
}
.#{$ico-font-prefix}-xing2:before {
  content: ico-content($ico-var-xing2);
}
.#{$ico-font-prefix}-flattr:before {
  content: ico-content($ico-var-flattr);
}
.#{$ico-font-prefix}-foursquare:before {
  content: ico-content($ico-var-foursquare);
}
.#{$ico-font-prefix}-yelp:before {
  content: ico-content($ico-var-yelp);
}
.#{$ico-font-prefix}-paypal:before {
  content: ico-content($ico-var-paypal);
}
.#{$ico-font-prefix}-chrome:before {
  content: ico-content($ico-var-chrome);
}
.#{$ico-font-prefix}-firefox:before {
  content: ico-content($ico-var-firefox);
}
.#{$ico-font-prefix}-IE:before {
  content: ico-content($ico-var-IE);
}
.#{$ico-font-prefix}-edge:before {
  content: ico-content($ico-var-edge);
}
.#{$ico-font-prefix}-safari:before {
  content: ico-content($ico-var-safari);
}
.#{$ico-font-prefix}-opera:before {
  content: ico-content($ico-var-opera);
}
.#{$ico-font-prefix}-file-pdf:before {
  content: ico-content($ico-var-file-pdf);
}
.#{$ico-font-prefix}-file-openoffice:before {
  content: ico-content($ico-var-file-openoffice);
}
.#{$ico-font-prefix}-file-word:before {
  content: ico-content($ico-var-file-word);
}
.#{$ico-font-prefix}-file-excel:before {
  content: ico-content($ico-var-file-excel);
}
.#{$ico-font-prefix}-libreoffice:before {
  content: ico-content($ico-var-libreoffice);
}
.#{$ico-font-prefix}-html-five:before {
  content: ico-content($ico-var-html-five);
}
.#{$ico-font-prefix}-html-five2:before {
  content: ico-content($ico-var-html-five2);
}
.#{$ico-font-prefix}-css3:before {
  content: ico-content($ico-var-css3);
}
.#{$ico-font-prefix}-git:before {
  content: ico-content($ico-var-git);
}
.#{$ico-font-prefix}-codepen:before {
  content: ico-content($ico-var-codepen);
}
.#{$ico-font-prefix}-svg:before {
  content: ico-content($ico-var-svg);
}
.#{$ico-font-prefix}-IcoMoon:before {
  content: ico-content($ico-var-IcoMoon);
}
