// 폰트아이콘 관련 변수설정
// --------------------------

$ico-font-path: "icons/fonts" !default;
$ico-font-prefix: ico !default;

// 폰트아이콘 엔티티문자열 설정
$ico-var-home: \e900;
$ico-var-home2: \e901;
$ico-var-home3: \e902;
$ico-var-office: \e903;
$ico-var-newspaper: \e904;
$ico-var-pencil: \e905;
$ico-var-pencil2: \e906;
$ico-var-quill: \e907;
$ico-var-pen: \e908;
$ico-var-blog: \e909;
$ico-var-eyedropper: \e90a;
$ico-var-droplet: \e90b;
$ico-var-paint-format: \e90c;
$ico-var-image: \e90d;
$ico-var-images: \e90e;
$ico-var-camera: \e90f;
$ico-var-headphones: \e910;
$ico-var-music: \e911;
$ico-var-play: \e912;
$ico-var-film: \e913;
$ico-var-video-camera: \e914;
$ico-var-dice: \e915;
$ico-var-pacman: \e916;
$ico-var-spades: \e917;
$ico-var-clubs: \e918;
$ico-var-diamonds: \e919;
$ico-var-bullhorn: \e91a;
$ico-var-connection: \e91b;
$ico-var-podcast: \e91c;
$ico-var-feed: \e91d;
$ico-var-mic: \e91e;
$ico-var-book: \e91f;
$ico-var-books: \e920;
$ico-var-library: \e921;
$ico-var-file-text: \e922;
$ico-var-profile: \e923;
$ico-var-file-empty: \e924;
$ico-var-files-empty: \e925;
$ico-var-file-text2: \e926;
$ico-var-file-picture: \e927;
$ico-var-file-music: \e928;
$ico-var-file-play: \e929;
$ico-var-file-video: \e92a;
$ico-var-file-zip: \e92b;
$ico-var-copy: \e92c;
$ico-var-paste: \e92d;
$ico-var-stack: \e92e;
$ico-var-folder: \e92f;
$ico-var-folder-open: \e930;
$ico-var-folder-plus: \e931;
$ico-var-folder-minus: \e932;
$ico-var-folder-download: \e933;
$ico-var-folder-upload: \e934;
$ico-var-price-tag: \e935;
$ico-var-price-tags: \e936;
$ico-var-barcode: \e937;
$ico-var-qrcode: \e938;
$ico-var-ticket: \e939;
$ico-var-cart: \e93a;
$ico-var-coin-dollar: \e93b;
$ico-var-coin-euro: \e93c;
$ico-var-coin-pound: \e93d;
$ico-var-coin-yen: \e93e;
$ico-var-credit-card: \e93f;
$ico-var-calculator: \e940;
$ico-var-lifebuoy: \e941;
$ico-var-phone: \e942;
$ico-var-phone-hang-up: \e943;
$ico-var-address-book: \e944;
$ico-var-envelop: \e945;
$ico-var-pushpin: \e946;
$ico-var-location: \e947;
$ico-var-location2: \e948;
$ico-var-compass: \e949;
$ico-var-compass2: \e94a;
$ico-var-map: \e94b;
$ico-var-map2: \e94c;
$ico-var-history: \e94d;
$ico-var-clock: \e94e;
$ico-var-clock2: \e94f;
$ico-var-alarm: \e950;
$ico-var-bell: \e951;
$ico-var-stopwatch: \e952;
$ico-var-calendar: \e953;
$ico-var-printer: \e954;
$ico-var-keyboard: \e955;
$ico-var-display: \e956;
$ico-var-laptop: \e957;
$ico-var-mobile: \e958;
$ico-var-mobile2: \e959;
$ico-var-tablet: \e95a;
$ico-var-tv: \e95b;
$ico-var-drawer: \e95c;
$ico-var-drawer2: \e95d;
$ico-var-box-add: \e95e;
$ico-var-box-remove: \e95f;
$ico-var-download: \e960;
$ico-var-upload: \e961;
$ico-var-floppy-disk: \e962;
$ico-var-drive: \e963;
$ico-var-database: \e964;
$ico-var-undo: \e965;
$ico-var-redo: \e966;
$ico-var-undo2: \e967;
$ico-var-redo2: \e968;
$ico-var-forward: \e969;
$ico-var-reply: \e96a;
$ico-var-bubble: \e96b;
$ico-var-bubbles: \e96c;
$ico-var-bubbles2: \e96d;
$ico-var-bubble2: \e96e;
$ico-var-bubbles3: \e96f;
$ico-var-bubbles4: \e970;
$ico-var-user: \e971;
$ico-var-users: \e972;
$ico-var-user-plus: \e973;
$ico-var-user-minus: \e974;
$ico-var-user-check: \e975;
$ico-var-user-tie: \e976;
$ico-var-quotes-left: \e977;
$ico-var-quotes-right: \e978;
$ico-var-hour-glass: \e979;
$ico-var-spinner: \e97a;
$ico-var-spinner2: \e97b;
$ico-var-spinner3: \e97c;
$ico-var-spinner4: \e97d;
$ico-var-spinner5: \e97e;
$ico-var-spinner6: \e97f;
$ico-var-spinner7: \e980;
$ico-var-spinner8: \e981;
$ico-var-spinner9: \e982;
$ico-var-spinner10: \e983;
$ico-var-spinner11: \e984;
$ico-var-binoculars: \e985;
$ico-var-search: \e986;
$ico-var-zoom-in: \e987;
$ico-var-zoom-out: \e988;
$ico-var-enlarge: \e989;
$ico-var-shrink: \e98a;
$ico-var-enlarge2: \e98b;
$ico-var-shrink2: \e98c;
$ico-var-key: \e98d;
$ico-var-key2: \e98e;
$ico-var-lock: \e98f;
$ico-var-unlocked: \e990;
$ico-var-wrench: \e991;
$ico-var-equalizer: \e992;
$ico-var-equalizer2: \e993;
$ico-var-cog: \e994;
$ico-var-cogs: \e995;
$ico-var-hammer: \e996;
$ico-var-magic-wand: \e997;
$ico-var-aid-kit: \e998;
$ico-var-bug: \e999;
$ico-var-pie-chart: \e99a;
$ico-var-stats-dots: \e99b;
$ico-var-stats-bars: \e99c;
$ico-var-stats-bars2: \e99d;
$ico-var-trophy: \e99e;
$ico-var-gift: \e99f;
$ico-var-glass: \e9a0;
$ico-var-glass2: \e9a1;
$ico-var-mug: \e9a2;
$ico-var-spoon-knife: \e9a3;
$ico-var-leaf: \e9a4;
$ico-var-rocket: \e9a5;
$ico-var-meter: \e9a6;
$ico-var-meter2: \e9a7;
$ico-var-hammer2: \e9a8;
$ico-var-fire: \e9a9;
$ico-var-lab: \e9aa;
$ico-var-magnet: \e9ab;
$ico-var-bin: \e9ac;
$ico-var-bin2: \e9ad;
$ico-var-briefcase: \e9ae;
$ico-var-airplane: \e9af;
$ico-var-truck: \e9b0;
$ico-var-road: \e9b1;
$ico-var-accessibility: \e9b2;
$ico-var-target: \e9b3;
$ico-var-shield: \e9b4;
$ico-var-power: \e9b5;
$ico-var-switch: \e9b6;
$ico-var-power-cord: \e9b7;
$ico-var-clipboard: \e9b8;
$ico-var-list-numbered: \e9b9;
$ico-var-list: \e9ba;
$ico-var-list2: \e9bb;
$ico-var-tree: \e9bc;
$ico-var-menu: \e9bd;
$ico-var-menu2: \e9be;
$ico-var-menu3: \e9bf;
$ico-var-menu4: \e9c0;
$ico-var-cloud: \e9c1;
$ico-var-cloud-download: \e9c2;
$ico-var-cloud-upload: \e9c3;
$ico-var-cloud-check: \e9c4;
$ico-var-download2: \e9c5;
$ico-var-upload2: \e9c6;
$ico-var-download3: \e9c7;
$ico-var-upload3: \e9c8;
$ico-var-sphere: \e9c9;
$ico-var-earth: \e9ca;
$ico-var-link: \e9cb;
$ico-var-flag: \e9cc;
$ico-var-attachment: \e9cd;
$ico-var-eye: \e9ce;
$ico-var-eye-plus: \e9cf;
$ico-var-eye-minus: \e9d0;
$ico-var-eye-blocked: \e9d1;
$ico-var-bookmark: \e9d2;
$ico-var-bookmarks: \e9d3;
$ico-var-sun: \e9d4;
$ico-var-contrast: \e9d5;
$ico-var-brightness-contrast: \e9d6;
$ico-var-star-empty: \e9d7;
$ico-var-star-half: \e9d8;
$ico-var-star-full: \e9d9;
$ico-var-heart: \e9da;
$ico-var-heart-broken: \e9db;
$ico-var-man: \e9dc;
$ico-var-woman: \e9dd;
$ico-var-man-woman: \e9de;
$ico-var-happy: \e9df;
$ico-var-happy2: \e9e0;
$ico-var-smile: \e9e1;
$ico-var-smile2: \e9e2;
$ico-var-tongue: \e9e3;
$ico-var-tongue2: \e9e4;
$ico-var-sad: \e9e5;
$ico-var-sad2: \e9e6;
$ico-var-wink: \e9e7;
$ico-var-wink2: \e9e8;
$ico-var-grin: \e9e9;
$ico-var-grin2: \e9ea;
$ico-var-cool: \e9eb;
$ico-var-cool2: \e9ec;
$ico-var-angry: \e9ed;
$ico-var-angry2: \e9ee;
$ico-var-evil: \e9ef;
$ico-var-evil2: \e9f0;
$ico-var-shocked: \e9f1;
$ico-var-shocked2: \e9f2;
$ico-var-baffled: \e9f3;
$ico-var-baffled2: \e9f4;
$ico-var-confused: \e9f5;
$ico-var-confused2: \e9f6;
$ico-var-neutral: \e9f7;
$ico-var-neutral2: \e9f8;
$ico-var-hipster: \e9f9;
$ico-var-hipster2: \e9fa;
$ico-var-wondering: \e9fb;
$ico-var-wondering2: \e9fc;
$ico-var-sleepy: \e9fd;
$ico-var-sleepy2: \e9fe;
$ico-var-frustrated: \e9ff;
$ico-var-frustrated2: \ea00;
$ico-var-crying: \ea01;
$ico-var-crying2: \ea02;
$ico-var-point-up: \ea03;
$ico-var-point-right: \ea04;
$ico-var-point-down: \ea05;
$ico-var-point-left: \ea06;
$ico-var-warning: \ea07;
$ico-var-notification: \ea08;
$ico-var-question: \ea09;
$ico-var-plus: \ea0a;
$ico-var-minus: \ea0b;
$ico-var-info: \ea0c;
$ico-var-cancel-circle: \ea0d;
$ico-var-blocked: \ea0e;
$ico-var-cross: \ea0f;
$ico-var-checkmark: \ea10;
$ico-var-checkmark2: \ea11;
$ico-var-spell-check: \ea12;
$ico-var-enter: \ea13;
$ico-var-exit: \ea14;
$ico-var-play2: \ea15;
$ico-var-pause: \ea16;
$ico-var-stop: \ea17;
$ico-var-previous: \ea18;
$ico-var-next: \ea19;
$ico-var-backward: \ea1a;
$ico-var-forward2: \ea1b;
$ico-var-play3: \ea1c;
$ico-var-pause2: \ea1d;
$ico-var-stop2: \ea1e;
$ico-var-backward2: \ea1f;
$ico-var-forward3: \ea20;
$ico-var-first: \ea21;
$ico-var-last: \ea22;
$ico-var-previous2: \ea23;
$ico-var-next2: \ea24;
$ico-var-eject: \ea25;
$ico-var-volume-high: \ea26;
$ico-var-volume-medium: \ea27;
$ico-var-volume-low: \ea28;
$ico-var-volume-mute: \ea29;
$ico-var-volume-mute2: \ea2a;
$ico-var-volume-increase: \ea2b;
$ico-var-volume-decrease: \ea2c;
$ico-var-loop: \ea2d;
$ico-var-loop2: \ea2e;
$ico-var-infinite: \ea2f;
$ico-var-shuffle: \ea30;
$ico-var-arrow-up-left: \ea31;
$ico-var-arrow-up: \ea32;
$ico-var-arrow-up-right: \ea33;
$ico-var-arrow-right: \ea34;
$ico-var-arrow-down-right: \ea35;
$ico-var-arrow-down: \ea36;
$ico-var-arrow-down-left: \ea37;
$ico-var-arrow-left: \ea38;
$ico-var-arrow-up-left2: \ea39;
$ico-var-arrow-up2: \ea3a;
$ico-var-arrow-up-right2: \ea3b;
$ico-var-arrow-right2: \ea3c;
$ico-var-arrow-down-right2: \ea3d;
$ico-var-arrow-down2: \ea3e;
$ico-var-arrow-down-left2: \ea3f;
$ico-var-arrow-left2: \ea40;
$ico-var-circle-up: \ea41;
$ico-var-circle-right: \ea42;
$ico-var-circle-down: \ea43;
$ico-var-circle-left: \ea44;
$ico-var-tab: \ea45;
$ico-var-move-up: \ea46;
$ico-var-move-down: \ea47;
$ico-var-sort-alpha-asc: \ea48;
$ico-var-sort-alpha-desc: \ea49;
$ico-var-sort-numeric-asc: \ea4a;
$ico-var-sort-numberic-desc: \ea4b;
$ico-var-sort-amount-asc: \ea4c;
$ico-var-sort-amount-desc: \ea4d;
$ico-var-command: \ea4e;
$ico-var-shift: \ea4f;
$ico-var-ctrl: \ea50;
$ico-var-opt: \ea51;
$ico-var-checkbox-checked: \ea52;
$ico-var-checkbox-unchecked: \ea53;
$ico-var-radio-checked: \ea54;
$ico-var-radio-checked2: \ea55;
$ico-var-radio-unchecked: \ea56;
$ico-var-crop: \ea57;
$ico-var-make-group: \ea58;
$ico-var-ungroup: \ea59;
$ico-var-scissors: \ea5a;
$ico-var-filter: \ea5b;
$ico-var-font: \ea5c;
$ico-var-ligature: \ea5d;
$ico-var-ligature2: \ea5e;
$ico-var-text-height: \ea5f;
$ico-var-text-width: \ea60;
$ico-var-font-size: \ea61;
$ico-var-bold: \ea62;
$ico-var-underline: \ea63;
$ico-var-italic: \ea64;
$ico-var-strikethrough: \ea65;
$ico-var-omega: \ea66;
$ico-var-sigma: \ea67;
$ico-var-page-break: \ea68;
$ico-var-superscript: \ea69;
$ico-var-subscript: \ea6a;
$ico-var-superscript2: \ea6b;
$ico-var-subscript2: \ea6c;
$ico-var-text-color: \ea6d;
$ico-var-pagebreak: \ea6e;
$ico-var-clear-formatting: \ea6f;
$ico-var-table: \ea70;
$ico-var-table2: \ea71;
$ico-var-insert-template: \ea72;
$ico-var-pilcrow: \ea73;
$ico-var-ltr: \ea74;
$ico-var-rtl: \ea75;
$ico-var-section: \ea76;
$ico-var-paragraph-left: \ea77;
$ico-var-paragraph-center: \ea78;
$ico-var-paragraph-right: \ea79;
$ico-var-paragraph-justify: \ea7a;
$ico-var-indent-increase: \ea7b;
$ico-var-indent-decrease: \ea7c;
$ico-var-share: \ea7d;
$ico-var-new-tab: \ea7e;
$ico-var-embed: \ea7f;
$ico-var-embed2: \ea80;
$ico-var-terminal: \ea81;
$ico-var-share2: \ea82;
$ico-var-mail: \ea83;
$ico-var-mail2: \ea84;
$ico-var-mail3: \ea85;
$ico-var-mail4: \ea86;
$ico-var-amazon: \ea87;
$ico-var-google: \ea88;
$ico-var-google2: \ea89;
$ico-var-google3: \ea8a;
$ico-var-google-plus: \ea8b;
$ico-var-google-plus2: \ea8c;
$ico-var-google-plus3: \ea8d;
$ico-var-hangouts: \ea8e;
$ico-var-google-drive: \ea8f;
$ico-var-facebook: \ea90;
$ico-var-facebook2: \ea91;
$ico-var-instagram: \ea92;
$ico-var-whatsapp: \ea93;
$ico-var-spotify: \ea94;
$ico-var-telegram: \ea95;
$ico-var-twitter: \ea96;
$ico-var-vine: \ea97;
$ico-var-vk: \ea98;
$ico-var-renren: \ea99;
$ico-var-sina-weibo: \ea9a;
$ico-var-rss: \ea9b;
$ico-var-rss2: \ea9c;
$ico-var-youtube: \ea9d;
$ico-var-youtube2: \ea9e;
$ico-var-twitch: \ea9f;
$ico-var-vimeo: \eaa0;
$ico-var-vimeo2: \eaa1;
$ico-var-lanyrd: \eaa2;
$ico-var-flickr: \eaa3;
$ico-var-flickr2: \eaa4;
$ico-var-flickr3: \eaa5;
$ico-var-flickr4: \eaa6;
$ico-var-dribbble: \eaa7;
$ico-var-behance: \eaa8;
$ico-var-behance2: \eaa9;
$ico-var-deviantart: \eaaa;
$ico-var-500px: \eaab;
$ico-var-steam: \eaac;
$ico-var-steam2: \eaad;
$ico-var-dropbox: \eaae;
$ico-var-onedrive: \eaaf;
$ico-var-github: \eab0;
$ico-var-npm: \eab1;
$ico-var-basecamp: \eab2;
$ico-var-trello: \eab3;
$ico-var-wordpress: \eab4;
$ico-var-joomla: \eab5;
$ico-var-ello: \eab6;
$ico-var-blogger: \eab7;
$ico-var-blogger2: \eab8;
$ico-var-tumblr: \eab9;
$ico-var-tumblr2: \eaba;
$ico-var-yahoo: \eabb;
$ico-var-yahoo2: \eabc;
$ico-var-tux: \eabd;
$ico-var-appleinc: \eabe;
$ico-var-finder: \eabf;
$ico-var-android: \eac0;
$ico-var-windows: \eac1;
$ico-var-windows8: \eac2;
$ico-var-soundcloud: \eac3;
$ico-var-soundcloud2: \eac4;
$ico-var-skype: \eac5;
$ico-var-reddit: \eac6;
$ico-var-hackernews: \eac7;
$ico-var-wikipedia: \eac8;
$ico-var-linkedin: \eac9;
$ico-var-linkedin2: \eaca;
$ico-var-lastfm: \eacb;
$ico-var-lastfm2: \eacc;
$ico-var-delicious: \eacd;
$ico-var-stumbleupon: \eace;
$ico-var-stumbleupon2: \eacf;
$ico-var-stackoverflow: \ead0;
$ico-var-pinterest: \ead1;
$ico-var-pinterest2: \ead2;
$ico-var-xing: \ead3;
$ico-var-xing2: \ead4;
$ico-var-flattr: \ead5;
$ico-var-foursquare: \ead6;
$ico-var-yelp: \ead7;
$ico-var-paypal: \ead8;
$ico-var-chrome: \ead9;
$ico-var-firefox: \eada;
$ico-var-IE: \eadb;
$ico-var-edge: \eadc;
$ico-var-safari: \eadd;
$ico-var-opera: \eade;
$ico-var-file-pdf: \eadf;
$ico-var-file-openoffice: \eae0;
$ico-var-file-word: \eae1;
$ico-var-file-excel: \eae2;
$ico-var-libreoffice: \eae3;
$ico-var-html-five: \eae4;
$ico-var-html-five2: \eae5;
$ico-var-css3: \eae6;
$ico-var-git: \eae7;
$ico-var-codepen: \eae8;
$ico-var-svg: \eae9;
$ico-var-IcoMoon: \eaea;
